.error-container {
  height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nav {
  margin-bottom: 20px;
}

.logo-nav img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.error-title {
  color: #ffa31a;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}
